* {
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
}

body {
    background: hsl(222, 26%, 31%); 
    margin: auto;
    width: 35em;
}

header {
    color: white;
}

.heading {
    float: left;
    margin: 32px auto;
}

.theme-tab {
    float: right;
    align-items: center;
    font-size: 10px;
}

#themeTitle {
    letter-spacing: 1px;
    width: fit-content;
    float: left;
    padding-top: 3.9em;
    padding-right: 25px;
}

ul {
    list-style: none;
    display: flex;
    padding: 0 9px;
    margin: 0;
    margin-bottom: 5px;
    justify-content: space-between;
}

li {
    float: left;
}

#themeTab {
    float: left;
    padding-top: 15px;
}

#themeChoser {
    width: 60px;
    height: 23px;
    background: hsl(223, 31%, 20%); 
    border-radius: 20px;
    padding: 4px 5px;
}

#themeToggler {
    width: 15px;
    height: 15px;
    background: hsl(6, 63%, 50%);
    border-radius: 50%;
}

.screen {
    width: 100%;
    height: 6em;
    background: hsl(224, 36%, 15%); 
    border-radius: 15px;
}

.keypad {
    width: 100%;
    margin-top: 2em;
    background: hsl(223, 31%, 20%);
    height: 30rem;
    border-radius: 15px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}


.num-key {
    height: 74px;
    font-size: 1.7em;
    display: flex;
    margin: 6px;
    align-items: center;
    justify-content: center;
    background: hsl(30, 25%, 89%);
    color: hsl(221, 14%, 31%);
    border-radius: 10px;
    border-bottom: 5px solid hsl(28, 16%, 65%);
}

.small-num-key {
    font-size: 1em;
    background: hsl(225, 21%, 49%);
    color: white!important;
    border-bottom: 5px solid hsl(224, 28%, 35%); 
}

#equalsKey {
   background: hsl(6, 63%, 50%); 
   border-bottom: 5px solid hsl(6, 70%, 34%);
}

@media screen and (max-width: 600px) {
    body {
        width: 90%;
        margin: auto 20px;
    }
}

.attribution { 
    margin-top: 32px;
    font-size: 11px;
    text-align: center;
    clear: both;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
